.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}


.App-link {
  color: #09d3ac;
}

#search-input{
  border-radius: 25px 0px 0px 25px;
  border: none;
  min-height: 45px;
}
body {
  background-color: #000;
  /* background-image: url(../images/star-img.gif); */
  background-attachment: fixed;
  color: #fff;
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  
}

h1, h2, h3, h4, h5, h6, strong{
  font-family: 'Hammersmith One', sans-serif;
}
.outer-container-box{
  position: relative;
  min-height: 100vh;
  padding-bottom: 77px;
}
.outer-box{
  background-color: rgba(0, 0, 0, 0.79);
  box-shadow: 0px 2px 3.5px #000; 
}
.list-group-item {
  line-height: 2.5;
}
#login-gmail-btn{
  background-color: #df4a32;
  border-color: #df4a32;
}
.modal-content{
  color:#000;
} 
.modal-content label {
  display: inline-block;
  margin-bottom: 0rem;
}
.modal-content h4{
  color:#d61c35;
  background: -webkit-linear-gradient(#d61c35 , #282c34);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.modal-content .btn-theme{
  box-shadow: 1px 2px 6.5px #000;
}
.modal-content .btn-theme:hover,.modal-content .btn-theme:focus,.modal-content .btn-theme:active{
  box-shadow: 5px 3px 0.5px #d8d8d8;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem 0;
  background-color: #000;
  text-align: center;
  color: #fff;
}
.footer::before{
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #d61c35;
  background-image: -webkit-linear-gradient(#d61c35 , #282c34);
  position: relative;
  top: -1rem;
}
#search-input{
  border-radius: 25px 0px 0px 25px;
  border: none;
  min-height: 45px;
}
.search-movie{
  border-radius: 0px 20px 20px 0px;
    border: none;
    width: 50px;
    color: #fff;
    background-color: #d61c35;
    background-image: linear-gradient(to right, #d61c35 , #282c34);
}
/* .search-result{
  padding:20px 0px;
} */

.modal-content{
  border-radius: 0px;
  background-color: #d61c35 !important;
  background-image: linear-gradient(to right, #d61c35 , #282c34);
  padding: 5px;
}
.modal-body, .modal-footer{
  background-color: #fff;
}
.fade.show{
  transform: translateX(0px);
}
.modal .top-icon {
  max-height: 20px;
}
.modal .top-icon span{
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #f7f7f7;
  background-image: linear-gradient(to right, #d61c35 , #fff, #282c34);
  color: #fff;
  padding-top: 13px;
  border-radius: 50%;
  position: relative;
  top: -45px;
  border: 4px solid #fff;
  box-shadow: 1px 2px 6.5px #000;
}
.modal .top-icon span i{
  font-size:25px;
}
.fa-spin-hover:hover {
  animation: fa-spin 1s infinite linear;
}
@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
#vidioModal .top-icon span{
  padding-top: 9px;
}
#vidioModal .top-icon span i{
  font-size:37px;
}
@media only screen and (max-width: 600px) {
  .modal .top-icon span i {
    font-size: 18px;
  }
  .modal .top-icon span{
    width: 45px;
    height: 45px;
    top: -28px;
    padding-top: 7px;
  }
  #vidioModal .top-icon span i {
    font-size: 21px;
  }
  #search-input{
    min-height: 40px;
  }
}

/* #video {
  padding:2px 0px 4px; 
  display:"block"; 
  width:345px; 
  font-weight:"normal"; 
  font-size:10px; 
  text-decoration:"underline"
} */